%title-font{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

%inter-font{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

%rubik-font{
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%rubikr-font{
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}