@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

body {
  background: linear-gradient(222.26deg, #3B1D60 1.22%, #040D3E 106.28%);
  background-attachment: fixed;
  font-family: 'Inter', sans-serif;
  // font-family: 'Montserrat', sans-serif;
  // font-family: 'Open Sans', sans-serif;
  // font-family: 'Rubik', sans-serif;
  font-weight: 400;
  color: #8476AA;
}

.title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99EFD0;
}

button {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}




.header__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
}

.menu__list {
  display: flex;
}


.menu__list-item+.menu__list-item {
  margin-left: 22px;
}

.menu__list-link {
  color: #B5B5B5;
  font-family: Rubik;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
}

.user-nav {
  margin-left: 52px;
  margin-right: 13px;
}

.user-nav__link {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
  color: #F2994A;
  padding: 8px 28px;
  border: 1px solid #F2994A;
  border-radius: 4px;
}

.user-nav__link+.user-nav__link {
  margin-left: 20px;
  background-color: #F2994A;
  color: #fff;
}

.top{
  background-image: url(../images/top-bg.svg);
  background-repeat: no-repeat;
  background-position: 100% 85%;
}

.top__inner {
  padding: 195px 0 183px;
}

.top__title {
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 20px;
  max-width: 531px;
}

.top__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
  color: #8476AA;
  max-width: 468px;
}

.top__btn {
  display: inline-block;
  font-weight: 500;
  color: #fff;
  background: #F2994A;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  border: 1px solid #F2994A;
  border-radius: 4px;
  padding: 13px 30px;
  margin-right: 20px;
  width: 158px;
}

.top__btn+.top__btn {
  background: none;
  border: 1px solid #F2994A;
  box-shadow: none;
  color: #F2994A;
}

.about__list {
  display: flex;
  justify-content: center;

  &-item {
    margin-right: 74px;
  }
}


.tools {
  padding-top: 140px;

  &__subtitle {
    margin-bottom: 50px;
    @extend %rubikr-font;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    width: 247px;
    color: #8476AA;
    @extend %rubik-font;
  }
}

.tools__title {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 13px;
  padding: 0 10px;
}

.tools__subtitle {
  text-align: center;
}

.tools__inner {
  padding-bottom: 90px;
  background-image: url(../images/tools-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.tools__items {
  display: flex;
  margin-bottom: 60px;
  width: 1100px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tools__item {
  width: 300px;
  display: flex;
  margin-bottom: 35px;
}

.tools__item-img {
  align-self: flex-start;
  margin-right: 28px;
}

.tools__item-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: 'Rubik', sans-serif;
}

.tools__link {
  background-color: #ff9900;
  display: block;
  padding: 15px 22px 14px;
  border-radius: 4px;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  margin: 0 auto;
  width: 175px;
  font-weight: 700;
}

.info{
  background-image: url(../images/info-bg.png);
  background-repeat: no-repeat;
  background-position: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}

.info__inner {
  display: flex;
}

.info__content {
  width: 470px;
  margin-right: 243px;
  &-btn{
    display: inline-block;
    font-weight: 500;
    color: #fff;
    background: #F2994A;
    box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
    border: 1px solid #F2994A;
    border-radius: 3px;
    padding: 17px 30px;
    margin-right: 20px;
    width: 158px;
  }
}

.info__title {
  margin-bottom: 32px;

  &-span {
    color: #F2994A;
  }
}

.info__content-text {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
  margin-bottom: 46px;
}

.info__image{
  margin-left: 50px;
}

.contacts{
  padding-bottom: 200px;
}

.contacts__inner{
  background: rgba(60, 62, 125, 0.19);
  backdrop-filter: blur(134px);
  border-radius: 5px;
  padding: 50px 0;
  text-align: center;
}

.contacts__title{
  font-family: 'Rubik';
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: #F2994A;
  margin-bottom: 20px;
}

.contacts__text{
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #95A1BB;
  width: 396px;
  margin: 23px auto;
}

.contacts__form{
  margin: 0 auto;
  width: 416px;
  position: relative;
  &-input{
    background: #F6F6F6;
    opacity: 0.1;
    border-radius: 5px;
    padding: 16px 18px;
    display: block;
    width: 100%;
  }
  &-btn{
    width: 128px;
    background: #F2994A;
    border-radius: 0px 5px 5px 0px;
    padding: 18px 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  &-text{
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #8476AA;
    margin-top: 16px;
  }
}

.contacts__form-input::placeholder{
  font-family: 'Inter';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.footer{
  background-image: url(../images/footer-bg.svg);
  background-position: center;
}

.footer__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
  &-title{
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.325px;
    color: #F2994A;
  }
}

.footer__social-list{
  display: flex;
}

.footer__social-item{
  margin-left: 16px;
}

.footer__middle{
  display: flex;
  justify-content: space-between;
  &-title{
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 25px;
  }
  &-link{
    display: block;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 16px;
  }
}

.footer__bottom{
  display: flex;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 50px;
  &-item{
    margin-right: 32px;
  }
}



